<div class="container">
    <form action="">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-white bg-dark"><h5>Buscar</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control form-control-sm" id="nome" formControlName="id" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-white bg-dark"><h5>Membros</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Vinicius Almeida</td>
                                    </tr>
                                    <tr>
                                        <td>Maria das Graças</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary btn-sm" routerLink="novo">Cadastrar novo membro</a>
</div>

